$color-main: #A7AAAD;
$color-base: black;


header img {
    justify-content: flex-start;

    & section img {
        display: none;
    }

}

ul {
    display: flex;
    justify-content: flex-end;
    li {
        list-style: none;
        margin: 10px;
    }
    & a{
        background-color: wheat;
        color: $color-base;
        text-decoration: none;
        border-radius: 10px;
    }
}


.egg {
    display: flex;
    text-align: center;
    & section img {
        width: 40rem;
    }
}

.cup {
    display: flex;
    & section img {
        width: 40rem;
    }
    & .cup_right {
        text-align: center;
    }
}

.fruit {
    display: flex;

    & section img {
        width: 40rem;
        
    }
    & section p, h2 {
        text-align: center;
        
    }
}

.customers {
    text-align: center;
    padding: 90px;
    
    & .only{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
     & img {
        border-radius: 48% 52% 48% 52% / 51% 50% 50% 49% ;
    }
    & h2 {
        text-align: center;
        color: $color-main;
        padding-bottom: 50px;
    }
}

#Images {
    display: flex;
    flex-wrap: wrap;
    & section img {
        height: 320px;
        width: 320px;
    }
} 

footer {
    background-color: $color-main;
    text-align: center;
    width: auto;
    height: auto;
    & h3 {
        text-align: center;
        padding: 1rem;
        font-size: 150%;
    }
    & section img {
        margin: 1rem;
    }
}

